Welcome <%= @user.name %><br>
<%= link_to "Log out", logout_path, method: :delete %>
<br>
<br>
<% @projects.each do |project| %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title project" value="{{$project_id}}">Project - <%= project.name %></h3>
        </div>
        <div class="panel-body">                    
          <div class="col-md-12">
            <table class="table table-striped custab">
              <thead>
               <tr>
                  <th>Project ID</th>
                  <th>Number of task</th>
                  <th>Number of Develop</th>
                  <th>Description</th>
                  <th>Action</th>
              </tr>
            </thead>
              <tr>                           
                <td><%= link_to project.id, user_project_path(@user.id, project.id) %></td>
                <td><%= link_to project.number_of_task, user_project_path(@user.id, project.id)%></td>
                <td><%= link_to project.number_of_develop, user_project_path(@user.id, project.id)%></td>
                <td><%= project.description%></td>
                <td> <%= link_to root_path do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                <% end %>
                <%= link_to root_path do %>
                  <i class="fa fa-trash"></i>
                <% end %>
                </td>   
              </tr>   
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= button_to new_user_project_path(@user.id), :method => :get, class: "pull-right thumbnail btn-success" do %>
  <i class="fa fa-plus-square" aria-hidden="true"></i> NEW PROJECT
<% end %>
<!-- <button class="pull-right thumbnail btn-success"><i class="fa fa-plus-square" aria-hidden="true"></i> NEW PROJECT</button> -->
