<% projectId = params[:project_id] %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">List Suggestion</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <table class="table table-striped custab">
            <thead>
              <tr>
                <th>Index</th>
                <th>Genes</th>
                <th>Fitness</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <%= will_paginate @parents %>
            <% @parents.each do |parent| %>
            <tr>   
              <td><%= @parents1.find_index(parent) %></td>
              <!-- <td id="">1.01</td> -->
              <td id=""><%= parent.genes %></td>
              <td id=""><%= parent.fitness %></td>                            
              <td class="text-center">
                <%= form_for @suggestion, url: project_suggestions_path(project_id: projectId) do |f| %>
                  <%= f.hidden_field :genes, value: parent.genes %>
                  <%= f.hidden_field :fitness, value: parent.fitness %>
                  <%= f.hidden_field :project_id, value: projectId %>
                  <%= f.submit "Save", class: "btn btn-success save" %>
<!--                   <button type="button" class="btn btn-success save" value="{{$s['number']}}">
                      <span class="glyphicon glyphicon-save"></span>Save
                  </button>   -->
                <% end %>                             
              </td>
            </tr>
            <% end %>
          </table>
          <%= will_paginate @parents %>
        </div>
      </div>
    </div>
  </div>
</div>
