<div class="row" >
  <div class="col-lg-offset-4 col-lg-4 col-sm-4">
    <div class="circle-tile">
      <a href="{{url('admin/projects')}}">
        <div class="circle-tile-heading green">
          <i class="fa fa-archive fa-fw fa-3x"></i>
        </div>
      </a>
      <div class="circle-tile-content green">
        <div class="circle-tile-description text-faded">
          Project 
        </div>
        <div class="circle-tile-number text-faded">
          <%= @project.id %>
          <span id="sparklineA"></span>
        </div>
        <%= link_to run_project_path(duration: @project.duration, dependence: @project.dependence,
          matrix_experiment: @project.matrix_experiment, level_experience: @project.level_experience,
          weighted_of_fitness_1: @project.weighted_of_fitness_1, weighted_of_fitness_2: 
          @project.weighted_of_fitness_2, project_id: @project.id ),
          method: "POST", class: "circle-tile-footer" do %>
          Run Project with GA <i class="fa fa-chevron-circle-right"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class = "container"> 
  <div class="row">
    <div class="col-sm-3">
      <div id = "page-wrapper1">
      <h5>List of duration</h5>
      <%= break_the_lines( @project.duration) %>
      </div>
    </div>
    <div class="col-sm-3">
      <div id = "page-wrapper1">
        <h5>List of Depedences </h5>
        <%= break_the_lines( @project.dependence) %>
      </div>
    </div>
    <div class="col-sm-3">
      <div id = "page-wrapper1">
        <h5>Matrix Experience</h5>
        <%= break_the_lines( @project.matrix_experiment) %>
      </div>
    </div>
    <div class="col-sm-3">
      <div id = "page-wrapper1">
      <h5>Level Experiencee</h5>
      <%= break_the_lines( @project.level_experience) %>
      </div>
    </div>

  </div>
</div>
<!-- <li><%= link_to "Listf Depedences ", "#"%></li>
<li><%= link_to "Matrix Experience ", "#"%></li><br> -->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title project" value="{{$project_id}}">Project - <%= @project.name  %></h3>
      </div>
      <div class="panel-body">                    
        <div class="col-md-12">
          <table class="table table-striped custab">
            <thead>
             <tr>
                <th>Phase</th>
                <th>Time</th>
                <th>Weighted of Fitness 1 </th>
                <th>Weighted of Fitness 2</th>
            </tr>
          </thead>
          <tr>                           
            <td>100</td>
            <td>24.98s</td>
            <td><%= @project.weighted_of_fitness_2 %></td>
            <td><%= @project.weighted_of_fitness_1 %></td>                            
          </tr>   
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">List Suggestion</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
				  <table class="table table-striped custab">
				    <thead>
				    	<tr>
					      <th>Number</th>                                
					      <th>Number of Phase</th>
					      <th>Time</th>
					      <th>Genes</th>
					      <th>Fitness</th>
					      <th class="text-center">Action</th>
				    	</tr>
				  	</thead>
				  	<% if @parents %>
				  	<% @parents.each do parent %>
					  <tr>                           
				      <td>1</td>
				      <td id="phase-{{$s['number']}}">500</td>
				      <td id="time-{{$s['number']}}">1.01</td>
				      <td id="payment-activity-{{$s['number']}}">1: [0, '0001010101'], 2: [0, '0001010100'], 3: [10, '1011000101'], 4: [10, '0000001100'], 5: [30, '1100010101'], 6: [15, '1011011011'], 7: [45, '0001001101'], 8: [55, '1010000001'], 9: [35, '1110111010'], 10: [70, '1001000000']</td>
				      <td id="fit-{{$s['number']}}">0.98925612984</td>                            
				      <td class="text-center">
				          <button type="button" class="btn btn-success save" value="{{$s['number']}}">
				              <span class="glyphicon glyphicon-save"></span>Save
				          </button>                               
				      </td>
					  </tr>
					  <% end %>
					  <% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


